#!/usr/bin/env python
from __future__ import unicode_literals


DEBUG = True

TYPOGRIFY = True
RELATIVE_URLS = True
SHOW_FULL_ARTICLE = True

PAGE_URL = "{slug}/"
ARTICLE_URL = "{slug}.html"
PAGE_SAVE_AS = "{slug}/index.html"
ARTICLE_SAVE_AS = "{slug}.html"

PATH = "content"
DEFAULT_LANG = "en"

LINKS = []

FEED_ALL_ATOM = None
CATEGORY_FEED_ATOM = None
TRANSLATION_FEED_ATOM = None
AUTHOR_FEED_ATOM = None
AUTHOR_FEED_RSS = None
DEFAULT_PAGINATION = False
